node_modules/
.next/
out/
dist/
/uploads/
backend/uploads/
__pycache__/
*.pyc
node-v*-win-x64/
*.rar
*.log

.env
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tsconfig.tsbuildinfo

.DS_Store
Thumbs.db

.vscode/
.idea/
